.about {
    background-image: url("../img/vr_dude.png");
    background-size:cover ;
    font-family: "Roboto";
    color: #ffffff;
    
    min-width: 910px;
    height: 650px;
}

.about__top-head  {
    font-family: "Rajdhani";
    font-size: 14px;
    letter-spacing: 5.6px;
    margin-left: 70rem;
    
}
.about__divider {
    margin-left: 70rem;   
}

.about__second-head {
    font-family: "Rajdhani";
    font-size: 50px;
    margin-left: 70rem;
    
}
.about__paragraph {
    letter-spacing: 0.48px;
    margin-left: 70rem;
    
  
    text-align: left;
}
.about__top-highlighted-text {
    color: #267EDC
}
.about__second-highlighted-text {
    color: #FD7150;
}

.about__learn-more {
    color: #ffffff;
    text-decoration: none;
    font-family: "Roboto";
    font-size: 12px;
    letter-spacing: 2.4px;
    border: solid rgb(38, 126, 220) 1px;
    text-align: center;
    padding: 19px;
    border-radius: 10px;
    margin-left: 100em;
    position:relative;
    top: 70px
    
    
}
.about__learn-more:hover {
    background-color: rgb(38, 126, 220);

}