.about {
    background-image: url("../img/vr_dude.png");
    background-size:cover ;
    font-family: "Roboto";
    color: #ffffff;
    display: flex;
    flex-direction: column;
    background-position: right;
    /* height: 800px; */
    
    align-items:flex-end ;
    flex-wrap: wrap;
}

.about__top-head  {
    font-family: "Rajdhani";
    font-size: 14px;
    letter-spacing: 5.6px;
    
    padding: 10px;
}
.about__divider {
    padding: 10px;   
}

.about__second-head {
    font-family: "Rajdhani";
    font-size: 50px;
    padding: 10px;
    margin-bottom: 40px;
    margin-top: 30px;
}
.about__paragraph {
    letter-spacing: 0.48px;
    max-width: 450px;
    line-height: 28.8px;
    text-align: left;
    padding: 10px;
}
.about__top-highlighted-text {
    color: #267EDC
}
.about__second-highlighted-text {
    color: #FD7150;
}
.about__container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 450px;
   
}
.about__container-for-learn-more {
    margin-top: 40px;
    display: flex;
    margin-bottom: 20px;
}
.about__learn-more {
    color: #ffffff;
    text-decoration: none;
    font-family: "Roboto";
    font-size: 12px;
    letter-spacing: 2.4px;
    border: solid rgb(38, 126, 220) 1px;
    text-align: center;
    padding: 19px;
    border-radius: 10px;
    margin-top: 30px;
    margin: auto;
    /* position:relative; */
    top: 30px
    
}
.about__learn-more:hover {
    background-color: rgb(38, 126, 220);

}