.header__overlay-burger-nav {
    background-color: black;
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 113px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    cursor: pointer;
    text-align: center;
}

.header__burger-menu-list {
    list-style-type: none;
}

.header__burger-menu-link {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 16px;
    letter-spacing: 1.6px;
}

.header__burger-menu-item {
    margin-bottom: 20px;
    font-size: 16px;
    color: white;
}

.header__burger-call {
    margin-top: 40px;
}

.header__nav_socials--link {
    text-decoration: none;
    color: white;
}

label.hamburger {
    display: block;
    width: 25px;
    height: 18px;
    position: relative;
    cursor: pointer;
}

input#hamburger {
    display: none;
}

.header__burger-line {
    position: absolute;
    height: 2px;
    width: 100%;
    background: white;
    transition: 0.2s;
}

.header__burger-line:nth-child(1) {
    top: 1px;
}

.header__burger-line:nth-child(2) {
    top: 7px;
}

.header__burger-line:nth-child(3) {
    top: 13px;
}

#hamburger:checked+.hamburger .header__burger-line:nth-child(1) {
    transform: translateY(7px) rotate(-45deg);
}

#hamburger:checked+.hamburger .header__burger-line:nth-child(2) {
    opacity: 0;
}

#hamburger:checked+.hamburger .header__burger-line:nth-child(3) {
    transform: translateY(-5px) rotate(45deg);
}

.header__burger-menu input[type="checkbox"]:checked~.header__overlay-burger-nav {
    display: flex;
    justify-content: center;
}