@media (max-width: 991px) {
.footer {
    background-color: #120e14;
    padding-top: 120px;
    background-size: cover;
    display: flex;
    justify-content: center;
    font-family:"Roboto", sans-serif;
}

.footer__main-logo {
    width:204px;
    height:auto;
    cursor: pointer;
}

.footer__main-column {
    list-style: none;
    text-align: center;
    line-height: 2;
    padding-bottom: 20px;
}

.footer__main-list {
    text-decoration: none;
}

.footer__main-list-link {
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.footer__main-list-link:hover {
    color: var(--header-blue-color);
}

.footer__main-follow {
    font-size: 18px;
    color: white;
}

.footer__main-socials {
    margin-bottom:-10px;
    margin-right:-5px;
    margin-left:-5px;
    display: inline-block;
    vertical-align: middle;
}

.footer__main-socials-link {
    margin-right:5px;
    margin-left:5px;
    margin-bottom:10px;
    display: inline-block;
    vertical-align: middle;
}

.footer__main-socials-link-ref {
    width:26px;
    height:26px;
    text-decoration: none;
}

.footer__main-socials-link-svg {
    fill: #ffffff;
    border-radius:50%;
    width: 26px;
    height: 26px;
}

.footer__main-socials-link-svg:hover {
    fill: var(--header-blue-color);
}

.footer__main-hr {
    color: #ffffff;
}

.footer_secondary {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #120e14;
    background-size: cover;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #787878;
}


}



@media (min-width: 992px) {
    .footer {
        background-color: #120e14;
        padding-top: 120px;
        background-size: cover;
        display: flex;
        font-family:"Roboto", sans-serif;
    }
    
    .footer__main-logo {
        width:165.63px;
        justify-content:start;
        height:auto;
        cursor: pointer;
    }
    
    .footer__main-column {
        list-style: none;
        text-align: center;
        line-height: 2;
        padding-bottom: 20px;
    }
    
    .footer__main-list {
        text-decoration: none;
    }
    
    .footer__main-list-link {
        font-size: 16px;
        color: white;
        text-decoration: none;
    }
    
    .footer__main-list-link:hover {
        color: var(--header-blue-color);
    }
    
    .footer__main-follow {
        font-size: 18px;
        color: white;
    }
    
    .footer__main-socials {
        margin-bottom:-10px;
        margin-right:-5px;
        margin-left:-5px;
        display: inline-block;
        vertical-align: middle;
    }
    
    .footer__main-socials-link {
        margin-right:5px;
        margin-left:5px;
        margin-bottom:10px;
        display: inline-block;
        vertical-align: middle;
    }
    
    .footer__main-socials-link-ref {
        width:26px;
        height:26px;
        text-decoration: none;
    }
    
    .footer__main-socials-link-svg {
        fill: #ffffff;
        border-radius:50%;
        width: 26px;
        height: 26px;
    }
    
    .footer__main-socials-link-svg:hover {
        fill: var(--header-blue-color);
    }
    
    .footer__main-hr {
        color: #ffffff;
    }
    
    .footer_secondary {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: #120e14;
        background-size: cover;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        color: #787878;
    }
}
    