.footer {
    background-color: var(--footer-background-color);
    max-width: 100%;
}

.footer__logo {
    display: flex;
    align-items: center;
}

.footer__logo--img {
    margin: 100px 300px -10px;
    max-width: 100%;
    width: 20%;
    height: auto;
}

.footer__info {
    font-family: "Roboto";
    color: var(--main-white-color);
}

.footer__info--list {
    word-break: nowrap;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -30px;
}

.footer__info--list--item {
    margin-right: 30px;
}

.footer__follow--us {
    margin-left: 1400px;
    font-size: 19px;
    font-family:"Roboto";
    font-weight: bold;
    color: var(--main-white-color);
    justify-content: flex-end;
}



.footer__team {
    margin-left: 300px;
    margin-bottom: -15px;
    color: var(--footer-light-gray-color);
    font-family: "Roboto";
    font-size: 14px;
    
}

.footer__hr {
    margin-left: 300px;
    margin-right: 300px;
    height: 1px;
    background-color: var(--footer-dark-gray-color);
    border: none;
}

.footer_rights-reserved {
    display: inline-block;
    vertical-align: middle;
    margin-left: 1430px;
    margin-bottom: 15px;
    color: var(--footer-light-gray-color);
    font-family: "Roboto";
    font-size: 14px;
}

a:link {
    text-decoration: none;
}

a {
    color: var(--main-white-color);
  }

a:hover {
    color: var(--header-blue-color);
}

.facebookicon:hover .logo_2gS {
    color: rgba(0,0,0,0);
    fill: currentColor
}
.instagramicon:hover path {
    fill: var(--header-blue-color);
  }

.youtubeicon:hover path {
    fill: var(--header-blue-color);
}

@media (max-width: 852px) {
    .footer__logo--img {
        margin-left: 100px;
        height: 50%;
        width: 50%;
    }

    .footer__info--list {
        display: flex;
        flex-direction: column;
        padding-top: 60px;
        line-height: 40px;
        align-items: center;
    }

    .footer__follow--us {
        margin-left: 42%;
        font-size: 1.5vh;
        align-items: center;
    }
    
    .footer__hr {
        align-items: center;
        height: 1px;
        background-color: var(--footer-dark-gray-color);
        border: none;
    }

    .footer__team {
        margin-left: 70%;
        margin-bottom: -1vh;
        font-size: 12px;
        align-items: center;
    }

    .footer_rights-reserved {
        margin-left: 10%;
        margin-bottom: 1vh;
        font-size: 12px;
        align-items: center;
    }
}