.footer {
    background-color: #120e14;
    max-width: 100%;
}

.footer__logo {
    display: flex;
    align-items: center;
}

.footer__logo--img {
    margin: 100px 300px -10px;
    max-width: 100%;
    width: 20%;
    height: auto;
}

.footer__info {
    font-family: "Roboto";
    color: white;
}

.footer__info--list {
    word-break: nowrap;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -30px;
}

.footer__info--list--item {
    margin-right: 30px;
}

.footer__follow--us--socials {
    margin: 1400px;
    font-family: "Roboto";
    font-size: 19px;
}

.footer__team {
    margin-left: 300px;
    margin-bottom: -15px;
    color: rgb(120,120,120);
    font-family: "Roboto";
    font-size: 14px;
    
}

.footer__hr {
    margin-left: 300px;
    margin-right: 300px;
    height: 1px;
    background-color: #41403f;
    border: none;
}

.footer_rights-reserved {
    display: inline-block;
    vertical-align: middle;
    margin-left: 1430px;
    margin-bottom: 15px;
    color: rgb(120,120,120);
    font-family: "Roboto";
    font-size: 14px;
}

a:link {
    text-decoration: none;
}

a {
    color: white;
  }

a:hover {
    color:#0287fb;
}

