.gallery__style {
  background-color: var(--main-white-color);
  padding-top: 100px;
  padding-bottom: 100px;
}
.gallery__title {
  display: grid;
  font-family: "Rajdhani", sans-serif;
  color: var(--main-dark-shade-color);
  opacity: 0.6;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  text-align: center;
  padding: 10px;
}
.divider__gallery {
  height: 1.5px;
  width: 3%;
  background-color: var(--main-dark-shade-color);
  opacity: 0.3;
  margin-left: auto;
  margin-right: auto;
}
.gallery__text {
  font-family: "Rajdhani", sans-serif;
  font-size: 50px;
  text-align: center;
  font-weight: bolder;
}
.highlighted__text {
  color: var(--accent-text-color);
}
.gallery__article {
  min-height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  flex-direction: column;
  padding-left: 50px;
  padding-right: 50px;
}

.gallery__box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: unset;
  gap: 20px;
}

.gallery__inbox {
  display: grid;
  gap: 10px;
}

.gallery__inbox img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: transform 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.gallery__inbox:nth-child(1) {
  grid-template-rows: 2fr 3fr;
  grid-template-columns: unset;
}

.gallery__inbox:nth-child(2) {
  grid-template-rows: 5fr 3fr;
  grid-template-columns: unset;
}

.gallery__inbox:nth-child(3) {
  grid-template-rows: 1fr 3fr;
  grid-template-columns: unset;
}


.gallery__box img:hover {
  transform: scale(1.1);
}

@media (max-width: 760px) {

  .gallery__box {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: unset;
  }

  .gallery__inbox:nth-child(1) {
    grid-template-rows: unset;
    grid-template-columns: 2fr 3fr;
  }
  
  .gallery__inbox:nth-child(2) {
    grid-template-rows: unset;
    grid-template-columns: 5fr 3fr;
  }
  
  .gallery__inbox:nth-child(3) {
    grid-template-rows: unset;
    grid-template-columns: 1fr 3fr;
  }
}
