.gallery__style {
  background-color: var(--main-white-color);
}
.gallery__title {
  display: grid;
  font-family: "Rajdhani", sans-serif;
  color: var(--main-dark-shade-color);
  opacity: 0.6;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  text-align: center;
  padding: 10px;
}
.divider__gallery {
  height: 1.5px;
  width: 3%;
  background-color: var(--main-dark-shade-color);
  opacity: 0.3;
  margin-left: auto;
  margin-right: auto;
}
.gallery__text {
  font-family: "Rajdhani", sans-serif;
  font-size: 50px;
  text-align: center;
  font-weight: bolder;
}
.highlighted__text {
  color: var(--accent-text-color);
}
.gallery__box {
  display: flex;
  justify-content: space-evenly;
  gap: 15px;
}
.gallery__column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  }
.gallery__row {

}

img {
  border-radius: 3%;
}