@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}

.container {
    max-width: 1175px;
    margin: auto;
}

:root {
    --main-gray-color: rgba(255, 255, 255, 0.6);
    --header-gradient-blue: rgb(40, 131, 222);
    --header-gradient-light-blue: rgb(130, 182, 235);
    --header-blue-color: #0287fb;
    --nothing-color: rgba(0, 0, 0, 0);
    --main-dark-color: rgb(0, 0, 0);
    --main-white-color: rgb(255, 255, 255);
    --alternative-dark-text: rgb(34, 34, 34);
    --accent-text-color: rgb(38, 126, 220);
    --alternative-accent-color: rgb(253, 113, 80);
    --main-dark-shade-color: rgb(18 14 20);
    --steps-background-color: rgb(23, 18, 26);
    --map-back-color: rgb(34,34,34);
    --footer-light-gray-color: rgb(120,120,120);
    --footer-dark-gray-color:  rgb(65,64,63);
    --footer-background-color: rgb(18,14,20);
    --gray-text-color: #FFFFFF99;
    --button-gradient-left: rgb(80, 148, 214);
    --button-gradient-right: rgb(96, 178, 233);
}

