.header__navigation-hamburger {
    position: relative;
    width: 24px;
    height: 16px;
    padding: 12px;
    cursor: pointer;
    z-index: 1;
}

@media (max-width: 990px) {

    .header__navigation-hamburger::before,
    .header__navigation-hamburger span,
    .header__navigation-hamburger::after {
        position: absolute;
        left: 0;
        height: 2px;
        width: 100%;
        background-color: white;
        transition: all 0.5s ease-in-out;
    }

    .header__navigation-hamburger span {
        transform: scale(1);
    }

    .header__navigation-hamburger::before,
    .header__navigation-hamburger::after {
        content: " ";
    }

    .header__navigation-hamburger::before {
        top: 0;
    }

    .header__navigation-hamburger::after {
        bottom: 0;
    }

    .header__navigation-hamburger.active span {
        transform: scale(0);
    }

    .header__navigation-hamburger.active::before {
        top: 50%;
        transform: rotate(-45deg);
    }

    .header__navigation-hamburger.active::after {
        bottom: 40%;
        transform: rotate(45deg);
    }
}