@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-image: url("../img/header-background.webp");
    background-size: cover;
}

.header-top {
    padding: 20px 0;
    top: 0;
    left: 0;
    right: 0;
}

.header__logo-container {
    flex: 1;
}

.container {
    max-width: 1200px;
    margin: auto;
}

img {
    display: block;
    width: 100%;
}

.header__menu-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.menu_link {
    font-family: "Roboto";
    text-decoration: none;
    color: white;
    margin: 20px;
    font-size: 15px;
}



.header__hero h1 {
    font-family: 'Leckerli One', undefined;
    font-size: 160px;
    color: white;
    text-align: center;
}

.header__hero p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
}

.header__buttons--our_movies p {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.header__buttons--send_request {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}




.burger_menu-btn {
    display: none;
}

.header__buttons{
    margin-top: 30px;
    
}

.header__buttons--send_request {
    font-family: "Roboto";
    font-size: 12px;
    margin-top: 10em ;
    margin-left: 50em;
    padding :10px 20px 10px 20px;
    height: 52px;
    text-decoration: none;
    background: linear-gradient(rgb(40,131,222), rgb(66,190,248))
}
.header__buttons--send_request:hover{
    background: linear-gradient(rgb(40,131,222), rgb(40,131,222)
}

@media (min-width: 500px) {
    .header__nav {
        display: flex;
    }

}