.header {
    background-image: url("../img/header-background.webp");
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
}

.header__nav {
    padding-right: 32px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header__logo-link {
    width: 211px;
    height: auto;
    margin-right: 120px;
}

.header__menu-list {
    display: none;
    list-style-type: none;

}

.menu_link {
    font-family: "Roboto";
    text-decoration: none;
    color: var(--main-white-color);
    font-size: 0.938rem;
    border-bottom: 1px solid var(--nothing-color);
    margin: 15px;


}

.menu_link:hover {
    border-bottom: 3px solid var(--header-blue-color);
    color: var(--header-blue-color);
}

.header__nav_socials {
    display: none;
}

.header__nav_socials--link {
    display: none;
}



.header__hero h1 {
    margin-top: 80px;
    font-family: 'Leckerli One', undefined;
    font-size: calc(70px + 110 * (100vw / 1280));
    color: var(--main-white-color);
    text-align: center;
}

.header__hero p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
    color: var(--main-gray-color);
    text-align: center;
}

.header__buttons--our_movies p {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}



.burger_menu-btn {
    display: none;
}

.header__buttons {
    margin: 70px auto 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



.header__buttons--send_request {
    font-family: "Roboto";
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--main-white-color);
    padding: 18px 30px;
    margin: 10px;
    background: linear-gradient(var(--header-gradient-blue), var(--header-gradient-light-blue));
    border-radius: 8px;
    width: 190px;
    height: 52px;
    text-align: center;
    position: relative;

}

.header__buttons--send_request:hover {
    background: linear-gradient(var(--header-gradient-blue), var(--header-gradient-blue));
    color: var(--main-white-color);
}

.header__buttons--our_movies {
    display: inline-block;
    width: 170px;
    height: 52px;
    margin-bottom: 20px;
    font-family: "Roboto";
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--main-white-color);
    background-color: 0;
    text-align: center;
    border-bottom: 1px solid var(--nothing-color);
    padding-bottom: 5px;
}

.header__buttons--our_movies span {
    padding: 2px;
}

.header__buttons--our_movies span:hover {
    color: var(--header-blue-color);
    border-bottom: 1px solid var(--header-blue-color);
}

.icon {
    margin-top: 20px;
    margin-right: 5px;
    color: var(--main-white-color);
}

.icon:hover {
    color: var(--header-blue-color);
}

.header__wrapper-menu {
    display: none;
    width: 100%;
    height: 100%;
    background-color: var(--header-background-color);
    position: fixed;
    cursor: pointer;
    text-align: center;
    top: 115px;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.header__burger-list {
    list-style-type: none;
}

.header__burger-menu-link {
    font-family: "Roboto";
    text-decoration: none;
    font-size: 16px;
    color: var(--main-white-color);
    font-weight: bold;
}

.header__burger-socials--link{
    margin: 6px;
}

.header__burger-item {
    font-size: 16px;
    margin-bottom: 20px;
    color: var(--main-white-color);
}


label.hamburger {
    display: block;
    width: 24px;
    height: 16px;
    cursor: pointer;
    position: relative;
}

input#hamburger {
    display: none;
}

.header__burger-line {
    height: 2px;
    width: 100%;
    position: absolute;
    background: var(--main-white-color);
    transition: 0.2s;
}

.header__burger-line:nth-child(1) {
    top: 1px;
}

.header__burger-line:nth-child(2) {
    top: 7px;
}

.header__burger-line:nth-child(3) {
    top: 13px;
}

#hamburger:checked+.hamburger .header__burger-line:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
}

#hamburger:checked+.hamburger .header__burger-line:nth-child(2) {
    opacity: 0;
}

#hamburger:checked+.hamburger .header__burger-line:nth-child(3) {
    transform: translateY(-5px) rotate(-45deg);
}

.header__burger-menu input[type="checkbox"]:checked~.header__wrapper-menu {
    display: flex;
    justify-content: center;
}

@media(max-width: 1070px) {
    .header__nav_socials {
        padding-top: 25px;
        padding-right: 100px;
    }

}


@media (min-width: 990px) {
    .header__burger-menu {
        display: none;
    }

    .header__menu-list {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .header__nav_socials {
        width: 108px;
        height: 36px;
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
    }

    .header__nav_socials--link {
        margin: 8px;
        display: flex;
    }
}