@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-image: url("../img/header-background.webp");
    background-size: cover;
}

.header-top {
    padding: 20px 0;
    top: 0;
    left: 0;
    right: 0;
}

.header__logo-container {
    flex: 1;
}

.container {
    max-width: 1200px;
    margin: auto;
}



.header__menu-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.menu_link {
    font-family: "Roboto";
    text-decoration: none;
    color: white;
    margin: 20px;
    font-size: 15px;
}



.header__hero h1 {
    font-family: 'Leckerli One', undefined;
    font-size: 160px;
    color: white;
    text-align: center;
}

.header__hero p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
}

.header__buttons--our_movies p {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}






.burger_menu-btn {
    display: none;
}

.header__buttons {
    margin-top: 60px;
    display: flex;

}

.header__buttons--send_request {
    font-family: "Roboto";
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    padding: 18px 30px;
    margin: 10px 0 0 35em;
    transition: color, background-color 0.2s linear;
    background: linear-gradient(rgb(40, 131, 222), rgb(66, 190, 248));
    border-radius: 8px;
    width: 190px;
    height: 52px;
    text-align: center;
}

.header__buttons--send_request:hover {
    background: linear-gradient(rgb(40, 131, 222), rgb(40, 131, 222))
}

.header__buttons--our_movies {
    font-family: "Roboto";
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    padding: 18px 30px;
    margin: 10px 0 0 0;
    transition: color, background-color 0.2s linear;
    background-color: 0;
    width: 170px;
    height: 52px;
    text-align: center;
}

.header__buttons__movie_svg {
    
}

@media (min-width: 500px) {
    .header__nav {
        display: flex;
    }

}