.pricing-plans {
    background-image: url("../img/pricing-background.webp");
    background-size: cover;
    padding-top: 140px;
    padding-bottom: 150px;
   }
h2 {
font-family: "Roboto" sans-serif;
color: rgba(18,14,20,0.6);
}