.pricing__container {
  background-image: url("../img/pricing-background.webp");
  padding-top: 100px;
  padding-bottom: 100px;
  align-items: center;
  justify-content: center;
}
.family__plan {
  background-image: url(../img/pricing-plan-background-third.webp);
}
.party__plan {
  background-image: url(../img/pricing-plan-background-second.webp);
 }
.group__plan {
  background-image: url(../img/pricing-plan-background-third.webp);
}
.pricing__title {
  font-family: "Rajdhani", sans-serif;
  color: var(--main-dark-color);
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  text-align: center;
  padding: 10px;
  opacity: 0.6;
}
.divider__box {
  height: 1.5px;
  width: 3%;
  background-color: var(--main-dark-shade-color);
  opacity: 0.3;
  margin-left: auto;
  margin-right: auto;
}
.pricing__text {
  font-family: "Rajdhani", sans-serif;
  font-size: 50px;
  text-align: center;
  font-weight: bolder;
}
.highlighted-text {
  color: var(--accent-text-color);
}
.pricing__list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  color: var(--main-white-color);
}
.pricing__advantages {
  color: var(--main-white-color);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.product__card {
  display: flex;
  flex-direction: column;
  border-radius: 6%;
  text-align: center;
  color: var(--main-white-color);
  align-items: center;
  gap: 10px;
  padding: 10px;
 }
.product__card .pricing__value {
  align-items: center;
}
.pricing__list ul {
  margin-top: 30px;
  list-style-type: none;
  color: var(--main-gray-color);
  padding-left: 0%;
}
.pricing__value {
  text-align: center;
  display: flex;
  background-image: url(../img/circle.svg);
  background-repeat: no-repeat;
  height: 140px;
  font-size: 22px;
  font-weight: bold;
  color: var(--main-dark-color);
  width: 60%;
  justify-content: center;
  background-position-x: center;
  background-position-y: center;
}
.pricing__name {
  font-family: "Rajdhani", sans-serif;
  font-size: 26px;
  font-weight: bolder;
  text-align: center;
}

.plan__select__buttons {
  font-family: "Roboto";
  text-decoration: none;
  display: block;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--main-white-color);
  margin: 10px auto;
  background: linear-gradient(
    var(--header-gradient-blue),
    var(--header-gradient-light-blue)
  );
  border-radius: 8px;
  width: 140px;
  height: 42px;
  text-align: center;
  position: relative;
}
.plan-select__buttons:hover {
  background: linear-gradient(
    var(--header-gradient-blue),
    var(--header-gradient-blue)
  );
  color: var(--main-white-color);
}


@media (min-width: 640px) {
  .pricing__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    align-content: space-around;
  }
  .product__card {
    width:30%;
  }
}

@media (min-width: 960px) {
  .pricing__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    align-content: space-around;
  }
  .product__card {
    width: 40%;
  }
}
