.steps {
    background-color: var(--main-dark-shade-color);
}
.steps__title {
    font-family: Rajdhani, sans-serif;
    color: var(--main-white-color);
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}
.steps__subtitle {
    font-family: Rajdhani, sans-serif;
    color: var(--main-white-color);
    font-size: 38px;
    font-weight: bold;
    text-align: center;
}
span.steps__subtitle_blue {
    color: var(--accent-text-color);

}
.pick {
    display: block;
}
.steps__icon {
    height: 50px;
    width: 50px;
    object-fit: cover;
    object-position: right;
}
.pick__subtitle {
    font-family: Rajdhani, sans-serif;
    font-size: 22px;
    color: var(--main-white-color);

}
.steps__text {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: var(--main-white-color);

}
.specify__subtitle {
    font-family: Rajdhani, sans-serif;
    font-size: 22px;
    color: var(--main-white-color);  
}
.vr__subtitle {
    font-family: Rajdhani, sans-serif;
    font-size: 22px;
    color: var(--main-white-color);   
}