.steps__container {
    background-color: var(--main-dark-shade-color);
    background-size: cover;
    display: block;
    padding-top: 150px;
    padding-bottom: 75px;
    min-width: 320px;


}
.steps__title {
    font-family: Rajdhani, sans-serif;
    color: var(--main-white-color);
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    text-align: center;
    padding: 15px 0px;
}
.steps__subtitle {
    font-family: Rajdhani, sans-serif;
    color: var(--main-white-color);
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.5em;

}
span.steps__subtitle_blue {
    color: var(--accent-text-color);

}
 .steps__cards {
    padding: 15px;
}
.pick__cards {
    background-color: var(--steps-background-color);
    display: block;
    width: 100%; 
    height: 249px;
    padding: 33px 31px 33px 31px;
    margin: 15px auto 15px auto;
}
.steps__icon {
    height: 50px;
    width: 50px;
    object-fit: cover;
    object-position: right;
    padding: 5px;
}
.pick__subtitle {
    font-family: Rajdhani, sans-serif;
    font-size: 22px;
    color: var(--main-white-color);

}
.steps__text {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: var(--main-white-color);
    opacity: 0.5;

}
.specify__cards {
    background-color: var(--steps-background-color);
    display: block;
    width: 100%; 
    height: 249px;
    padding: 33px 31px 33px 31px;
    margin: 15px auto 15px auto;
}
.specify__subtitle {
    font-family: Rajdhani, sans-serif;
    font-size: 22px;
    color: var(--main-white-color);  
}
.vr__cards {
    background-color: var(--steps-background-color);
    display: block;
    width: 100%; 
    height: 249px;
    padding: 33px 31px 33px 31px;
    margin: 15px auto 15px auto;
}
.vr__subtitle {
    font-family: Rajdhani, sans-serif;
    font-size: 22px;
    color: var(--main-white-color);   
}
 .earth__icon {
    width: 100%;
    margin: auto;
}
