.how-work {
    background-image: url("../img/how-work-background.webp");
    background-size: cover;
    font-family: "Roboto";
    color: var(--main-white-color);
    align-items: flex-end;
    display: flex;
}

.how-work__container {
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 40%;
    margin-right: 20px;
    margin-left: 50%;
}

.how-work__title {
    color: var(--main-white-color);
    font-size: 15px;
    letter-spacing: 4px;
    padding: 9gitpx;
}

.how-work__second-head {
    font-family: "Rajdhani";
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 40px;
    margin-top: 30px;
    text-align: left;
}

.how-work__main-text {
    letter-spacing: 0.48px;
    max-width: 450px;
    line-height: 28.8px;
    text-align: left;
    padding: 9px;
}

.how-work__list {
    list-style: none;
    margin-right: 10%;
}

.how-work__list li {
    background-image: url(../img/icons-for-list.svg);
    background-repeat: no-repeat;
    background-position: 5px center;
    background-size: 20px 20px;
    padding-left: 30px;
    padding-top: 10px;
    list-style-position: inside;
}

.try-it__button {

    font-family: "Roboto";
    text-decoration: none;
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    color: var(--main-white-color);
    margin: 15px auto;
    background: linear-gradient(var(--header-gradient-blue) var(--header-gradient-light-blue));
    border-radius: 10px;
    border: 1px solid var(--header-gradient-blue);
    width: 130px;
    height: 50px;
    text-align: center;
    position: relative;
    padding: 15px;
    margin-top: 40px;
}

.try-it__button:hover {
    background: linear-gradient(var(--header-gradient-blue),
            var(--header-gradient-blue));
    color: var(--main-white-color);
}
@keyframes color-highlight {
    0% {
      color: var(--header-gradient-blue);
      text-shadow: none; 
    }
    100% {
      color: black;
      text-shadow: 0 0 4px var(--header-gradient-light-blue); 
    }
  }
  
  .highlight {
    animation-name: color-highlight;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }
  
  .highlight-2 {
    text-shadow: 0 0 4px var(--header-gradient-light-blue);
  }
  

@media (max-width:700px) {
    .how-work__container {
        max-width: 90%;
        margin-right: 20%;
        margin-left: 20%;
    }

}