<div class="about" id="about">
    <div class="about__container">
        <h2 class="about__top-head">ABOUT</h2>
        <div class="about__divider">
            ___
        </div>
        <h3 class="about__second-head">
            <span class="about__top-highlighted-text">Explore the Universe</span> with VR technology!
        </h3>
        <p class="about__paragraph">
            We offer you to plunge headlong into the world of real space adventures! To see stars and planets in the
            vicinity, it`s not necessary to go through an astronaut training program! With our service, you can feel
            like a
            real space traveler without leaving your home or office.
        </p>
        <br>
        <p class="about__paragraph">
            Watch stunning movies using VR technology. Immerse yourself in the atmosphere of space, and feel like a real
            cosmonaut. It's a <span class="about__second-highlighted-text">brand new experience</span> you'll definitely
            want to repeat. We'll come to your place
            with all the
            necessary equipment and take you to the stars and planets!
        </p>
        <br>
        <div class="about__container-for-learn-more"><a class="about__learn-more" href="#">LEARN MORE</a></div>
    </div>
</div>
