<div class="__about">
    <h2 class="__about-top-head">About</h2>
    <div class="__about_underscore">

    </div>
    <h3 class="__about_second_head">
        <span class="__about_top_highlighted_text">Explore the Universe</span> with VR technology!
    </h3>
    <p class="__about_paragraph">
        We offer you to plunge headlong into the world of real space adventures! To see stars and planets in the
        vicinity, it`s not necessary to go through an astronaut training program! With our service, you can feel like a
        real space traveler without leaving your home or office.
    </p>
    <p class="__about_paragraph">
        Watch stunning movies using VR technology. Immerse yourself in the atmosphere of space, and feel like a real
        cosmonaut. It's a <span class="__about_second_highlighted_text">brand new experience</span> you'll definitely want to repeat. We'll come to your place
        with all the
        necessary equipment and take you to the stars and planets!
    </p>
    <a class="__about_learn_more" href="#">Learn more</a>
</div>