<div class="gallery-style">
<h2>GALLERY</h2>
<div class="divider-component" style="height:2px;width:2%;background-color:rgba(18, 14, 20, 0.3)"></div>
<span>Imagine you are an <span>astronaut</span></p>
<img src="img/gallery-firstspace.jpg" alt="Space_one">
<img src="img/gallery-secondspace.jpg" alt="Space_two">
<img src="img/gallery-firstastr-foto.jpg" alt="Astronaut_one">
<img src="img/gallery-secondastr-foto.jpg" alt="Astronaut_two">
<img src="img/gallery-thirdspace-foto.jpg" alt="Space_three">
<img src="img/gallery-astrfly-foto.jpg" alt="Fly 6">
 
</div>