<div class="gallery__style">
<h2 class="gallery__title">GALLERY</h2>
<div class="divider__gallery"> </div>
<h3 class="gallery__text">Imagine you are an <span class="highlighted__text">astronaut</span></h3>
<div class="gallery__box">
    <div class = "gallery__row">
<div class="gallery__column">
    <img src="img/gallery-firstspace.jpg" alt="Space_one">
</div>
<div class="gallery__column"> 
<img src="img/gallery-secondspace.jpg" alt="Space_two">
</div>
<div class="gallery__column"> 
<img src="img/gallery-firstastr-foto.jpg" alt="Astronaut_one">
</div>
</div>
<div class = "gallery__row">
<div class="gallery__column"> 
<img src="img/gallery-secondastr-foto.jpg" alt="Astronaut_two">
</div>
<div class="gallery__column">
<img src="img/gallery-thirdspace-foto.jpg" alt="Space_three">
</div>
<div class="gallery__column">
<img src="img/gallery-astrfly-foto.jpg" alt="Fly 6">
</div>
</div>
</div>