<div class="gallery__style">
    <h2 class="gallery__title">GALLERY</h2>
    <div class="divider__gallery"> </div>
    <h3 class="gallery__text">Imagine you are an <span class="highlighted__text">astronaut</span></h3>
    <article class="gallery__article">
        <div class="gallery__box">
            <div class="gallery__inbox">
                <img src="img/gallery-astrfly-foto.jpg" alt="Fly 6">
                <img src="img/gallery-secondastr-foto.jpg" alt="Space_two">
            </div>
            <div class="gallery__inbox">
                <img src="img/gallery-secondspace.jpg" alt="Astronaut_one">
                <img src="img/gallery-thirdspace-foto.jpg" alt="Space_three">
            </div>
            <div class="gallery__inbox">
                <img src="img/gallery-firstastr-foto.jpg" alt="Fly 6">
                <img src="img/gallery-firstspace.jpg" alt="Space_one">
            </div>
        </div>
    </article>
</div>