<div class="how-work">
    <div class="how-work__container">
        <h2 class="how-work__title">HOW IT WORKS</h2>
        <div class="divider-component" style="height:2px;width:2%;background-color:rgba(18, 14, 20, 0.3)"></div>
        <div class="how-work__div">
            <p class="how-work__second-head">
                Virtual reality has never been so realistic.
            </p>
            <p class="how-work__main-text">
                Thanks to modern technologies, virtual reality is already available to everyone.
                Film broadcasting is available simultaneously for up to 25 people in any place.
                How does it work? Everything is very simple! Broadcast setup includes only 4 simple steps:
            </p>
        </div>
        <ul class="how-work__list">
            <li>We bring VR helmets and special equipment.</li>
            <li>Each customer gets a helmet and Samsung Galaxy S8.</li>
            <li>Helmets are synced and connected to the iPad.</li>
            <li>The show is broadcast on up to 25 connected devices</li>
        </ul>
        <button class="try-it__button" type="button">TRY IT</button>
    </div>
</div>