<div>
    <h1>HOW IT WORKS</h1>
    <div class="how-works__div">
    <p>
        Virtual reality has never been so realistic.
    </p>
    <p>
        Thanks to modern technologies, virtual reality is already available to everyone.
        Film broadcasting is available simultaneously for up to 25 people in any place. 
        How does it work? Everything is very simple! Broadcast setup includes only 4 simple steps:
    </p>
    </div>
    <ul>
        <li>We bring VR helmets and special equipment.</li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>