<div class="map_block">
    <div id="googlemaps"></div>
    <div class = "map_block--container">
        <p class="map_block--address">ADRESS</p>
        <div class="map_block--container-line"></div>
        <h2 class="map_block--container-title">Asteroid</h2>
        <p id="map_block--vr_shows">VR Shows</p>
        <p class="map_block--container-adress">133 W 17th St, New York, NY 10011, USA</p>
        <a href="#"><p class="map_block--container-phone">+1 (234) 567 89 00</p></a>
        <a href="#"><p class="map_block--container-email">asteroidvr@email.com</p></a>
    </div>
</div>