<div class="pricing__container">
    <h2 class="pricing__title">Pricing</h2>
    <div class="divider-component" style="height:2px;width:2%;background-color:rgba(18, 14, 20, 0.3); ;"></div>
    <h3 class="pricing-text">Choose a <span class="highlighted-text">pricing plan</span> suiting you the best!</h3>
    <div class="plan__list"> 
        <article class="product-card family-plan">
        <h4  class="pricing-name">Family</h4>
        <p class="family-plan-text circle">40$</p>
        <span class="family-advantares">Per one show</span>
        <ul>
            <li>• Up to 6 virtual reality helmets •</li>
            <li>• 1 movie on your choice •</li>
            <li>• Space at your place •</li>
        </ul>
        <button class="plan-select__buttons" type="button">Select plan</button>
        </article>
    <article class="product-card party-plan">
        <h4 class="pricing-name">Party</h4>
        <p class="party-plan-text circle">80$</p>
        <span class="party-advantares">Per one show</span>
        <ul>
            <li>• Up to 6 virtual reality helmets •</li>
            <li>• Up to 15 virtual reality helmets •</li>
            <li>• Great for spacious venues •</li>
        </ul>
        <button class="plan-select__buttons" type="button">Select plan</button>
    </article>
    <article class="product-card group-plan">
        <h4 class="pricing-name">Group</h4>
        <p class="group-plan-text circle">120$</p>
        <span class="Group-advantares">Per one show</span>
        <ul>
            <li>• Up to 25 virtual reality helmets •</li>
            <li>• Weekdays only •</li>
            <li>•  Special offer for schools •</li>
        </ul>
        <button class="plan-select__buttons" type="button">Select plan</button>
    </article>


</div>
</div>