<div class="pricing__container">
    <h2 class="pricing__title">Pricing</h2>
    <div class="divider__box"></div>
    <h3 class="pricing__text">Choose a <span class="highlighted__text">pricing plan</span> suiting you the best!</h3>
    <div class="pricing__list">
        <article class="product__card family__plan">
            <h4>Family</h4>
            <p class="pricing__value">40$</p>
            <span class="family__advantages">Per one show</span>
            <ul>
                <li>• Up to 6 virtual reality helmets •</li>
                <li>• 1 movie on your choice •</li>
                <li>• Space at your place •</li>
            </ul>
            <button class="plan__select__buttons" type="button">Select plan</button>
        </article>
        <article class="product__card party__plan">
            <h4>Party</h4>
            <p class="pricing__value">80$</p>
            <span class="party__advantages">Per one show</span>
            <ul>
                <li>• Up to 6 virtual reality helmets •</li>
                <li>• Up to 15 virtual reality helmets •</li>
                <li>• Great for spacious venues •</li>
            </ul>
            <button class="plan__select__buttons" type="button">Select plan</button>
        </article>
        <article class="product__card group__plan">
            <h4>Group</h4>
            <p class="pricing__value">120$</p>
            <span class="group___advantages">Per one show</span>
            <ul>
                <li>• Up to 25 virtual reality helmets •</li>
                <li>• Weekdays only •</li>
                <li>• Special offer for schools •</li>
            </ul>
            <button class="plan__select__buttons" type="button">Select plan</button>
        </article>


    </div>
</div>