<div class="steps">
    <h2 class="steps_title">Steps</h2>
    <div class="divider"></div>
    <p class="steps_subtitle">Start your <span class="steps_subtitle_blue">space trip!</span></p>
    <div class="container_for_steps">
        <div class="container_for_pick">
            <img class="icon_for_steps" src="img/cowicon.svg" alt="cow icon">
            <h3>1. Pick a show</h3>
            <div class="divider_for_steps">
                <img src="img/divider_icon.jpg" alt="divider icon">
            </div>
            <p class="text_for_steps">At the moment, we offer four stunning shows and their number is constantly
                growing. Make your choice!</p>
        </div>
        <div class="container_for_specify">
            <img class="icon_for_steps" src="img/rocket.svg" alt="rocket icon">
            <h3>2. Specify the details</h3>
            <div class="divider_for_steps">
                <img src="img/divider_icon.jpg" alt="divider icon">
            </div>
            <p class="text_for_steps">Fill out the form. Tell us how many of you will be there, and the manager will
                offer you the best package.</p>
        </div>
        <div class="container_for_vr">
            <img src="img/vr.svg" alt="vr icon">
            <h3>3. Enjoy the VR show!</h3>
            <div class="divider_for_steps">
                <img src="img/divider_icon.jpg" alt="divider icon">
            </div>
            <p class="text_for_steps">Our specialist will arrive at the indicated time, set up the equipment, and guide
                you through the adventure.</p>
        </div>
    </div>
</div>