<div class="steps">
    <h2 class="steps__title">Steps</h2>
    <div class="divider"></div>
    <p class="steps__subtitle">Start your <span class="steps__subtitle_blue">space trip!</span></p>
    <div class="steps__container">
        <div class="pick">
            <img class="steps__icon" src="img/cowicon.svg" alt="cow icon">
            <h3 class="pick__subtitle">1. Pick a show</h3>
            <div class="divider-component">
                <img src="img/divider_icon.jpg" alt="divider icon">
            </div>
            <p class="steps__text">At the moment, we offer four stunning shows and their number is constantly
                growing. Make your choice!</p>
        </div>
        <div class="specify">
            <img class="steps__icon" src="img/rocket.svg" alt="rocket icon">
            <h3 class="specify__subtitle">2. Specify the details</h3>
            <div class="divider-component">
                <img src="img/divider_icon.jpg" alt="divider icon">
            </div>
            <p class="steps__text">Fill out the form. Tell us how many of you will be there, and the manager will
                offer you the best package.</p>
        </div>
        <div class="vr">
            <img class="steps__icon" src="img/vr.svg" alt="vr icon">
            <h3 class="vr__subtitle">3. Enjoy the VR show!</h3>
            <div class="divider-component">
                <img src="img/divider_icon.jpg" alt="divider icon">
            </div>
            <p class="steps__text">Our specialist will arrive at the indicated time, set up the equipment, and guide
                you through the adventure.</p>
                </div>
        </div>
    </div>
    <div class="earth__container">
        <img class="earth__icon" src="../img/earth.png" alt="earth">
</div>