<div class="testimonials__container">
  <h1 class="testimonials__title">Testimonials</h2>
  <div class="testimonials__divider">
    —
  </div>
  <h2 class="testimonials__subtitle">Our customers share their experience</h2><br>
  <h2 class="testimonials__subtitle">watching the VR show.</h2>
  <div class="owl-carousel owl-theme">
    <div class="single-testimonial">
      <p>We were looking for interesting activities for our kid’s birthday. We wanted to come up with something original, something that we had never experienced before. We decided to arrange a collective VR-viewing of a film about space, our son is fond of this topic. We want to thank the company that organized the show at the highest level. Robert and his friends were absolutely delighted!</p>
        <span>October 28, 2019</span>
        <div class="client-info">
          <div class="client-pic">
            <a href="#">
              <div class="client-image_1"></div>
            </a>
          </div>
          <div class="client-details">
            <h6>Mary Adams</h6> 
          </div>
        </div>
    </div>
    <div class="single-testimonial">
      <p>Our school has extra classes for children in astronomy. We are always looking for the opportunity to present the material to students as interesting as possible. The practice has shown that VR movies are the best option. We often contact the Asteroid company and are absolutely satisfied with the quality of their services. For all the time of cooperation, there was not a single problem.</p>
        <span>January 08, 2020</span>
        <div class="client-info">
          <div class="client-pic">
            <a href="#">
              <div class="client-image_2"></div>
            </a>
          </div>
          <div class="client-details">
            <h6>Daniel Peterson</h6>
          </div>
        </div>
    </div>
    <div class="single-testimonial">
      <p>We always try to organize creative events for our clients and offer them something that they have not tried yet. A year ago we included virtual reality movie watching in our event program. We were surprised with the feedback: our clients were totally in love with the new amusement. We regularly order the services of the Asteroid company for our events. They have favorable rates and a large selection of shows.</p>
        <span>March 04, 2020</span>
        <div class="client-info">
          <div class="client-pic">
            <a href="#">
              <div class="client-image_3"></div>
            </a>
          </div>
          <div class="client-details">
            <h6>Jeff Sanders</h6>
          </div>
        </div>
    </div>
    <div class="single-testimonial">
      <p>I heard a lot about virtual reality and wanted to watch such a movie. My friends supported my idea, and we started looking for a reliable company. Accidentally, we found the Asteroid website and decided to book a collective show. We were shocked by the quality of the movie. We felt like we were really in space, flying in the spaceship. We saw planets and stars, the borderless Universe. WOW!</p>
        <span>October 28, 2021</span>
        <div class="client-info">
          <div class="client-pic">
            <a href="#">
              <div class="client-image_4"></div>
            </a>
          </div>
          <div class="client-details">
            <h6>Eric Gordons</h6>
          </div>
        </div>
    </div>
  </div> 
</div>
<script src="js/testimonials.js"></script>

