<div class="why-us">
    <div class="why-us__container">
        <h2 class="why-us__title">WHY US</h2>
        <div class="why-us__divider">___</div>
        <h3 class="why-us__second-title">See the <span class="why-us__highlighted-text">beauty and grandeur</span> of
            the
            space with your own eyes.
        </h3>
        <div class="why-us__cards">
            <div class="why-us__card"><img class="why-us__icon" src="../img/why-us-glasses.svg"
                    alt="icon with vr glasses">
                <div class="why-us__cards-divider">___</div>
                <h4 class="why-us__card-title">Group Pastime</h4>
                <p class="why-us__card-text">VR shows about space is a great option for a party to remember, for any
                    age.</p>
            </div>
            <div class="why-us__card"><img class="why-us__icon" src="../img/why-us-planets.svg" alt="icon with planets">
                <div class="why-us__cards-divider">___</div>
                <h4 class="why-us__card-title">Education</h4>
                <p class="why-us__card-text">Children are much more interested in watching educational videos in VR.</p>
            </div>
            <div class="why-us__card"><img class="why-us__icon" src="../img/why-us-astronaut.svg"
                    alt="icon with astronaut">
                <div class="why-us__cards-divider">___</div>
                <h4 class="why-us__card-title">Full Immersion</h4>
                <p class="why-us__card-text">VR allows you to see every detail. Get completely new sensations and
                    emotions.</p>
            </div>
        </div>
        <h3 class="why-us__second-title">New VR space tours coming soon.</h3>
        <p class="why-us__paragraph">— Have you already watched all our films? We add <span
                class="why-us__second-highlighed-text">new shows almost every month</span>.</p>

        <div class="why-us__button-container"><a class="why-us__button" href="#">RELEASE DATES</a></div>
    </div>

</div>